#!/bin/bash
# called by Zabbix to calculate difference between rsync operations

zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k debuginfo.diff -o $(( $(date +%s) - $(cat {{ debuginfo_local_path }}/TIME) )) >/dev/null
